*.sqlite3
*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.DS_Store
.git/
.github/
.sass-cache
.vagrant/
.pre-commit-config.yaml
.python-version
__pycache__
dist
db.sqlite3
deploy.sh
docs
env
fly.toml
logs
Dockerfile
pyproject.toml
README.md
